@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  zoom: 1; }

body {
  background-color: #041436;
  background-image: url(../img/topbg.jpg);
  background-repeat: no-repeat;
  font-family: arial;
  margin: 0;
  padding: 0; }

.wayboo * {
  margin: 0;
  padding: 0;
  width: auto;
  list-style: none;
  font-weight: normal;
  box-sizing: border-box; }

.wayboo {
  width: 1200px;
  margin: auto; }
  .wayboo .logo {
    padding-top: 30px;
    padding-bottom: 30px; }
  .wayboo .wayboo_top {
    padding-bottom: 40px;
    margin-top: -25px; }
    .wayboo .wayboo_top .wayboo_mTxt {
      display: none; }
    .wayboo .wayboo_top .wayboo_round {
      width: 451px;
      height: 451px;
      margin: auto;
      position: relative; }
      .wayboo .wayboo_top .wayboo_round > div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .wayboo .wayboo_top .wayboo_round > div h3 {
          font-weight: 700;
          font-size: 24px; }
        .wayboo .wayboo_top .wayboo_round > div p {
          color: #b3e1ff;
          font-size: 14px;
          padding-top: 5px;
          padding-bottom: 10px; }
        .wayboo .wayboo_top .wayboo_round > div h1 {
          font-weight: bold;
          font-size: 53px; }
      .wayboo .wayboo_top .wayboo_round .round {
        animation: spin 5s infinite linear; }
    .wayboo .wayboo_top .wayboo_bottom {
      width: 100%;
      margin: auto;
      padding-top: 30px;
      text-align: center; }
      .wayboo .wayboo_top .wayboo_bottom .txt {
        font-size: 38px;
        color: #3d9dd7;
        font-weight: bold;
        padding-left: 24px; }
      .wayboo .wayboo_top .wayboo_bottom i {
        font-size: 38px;
        color: #3d9dd7;
        padding: 0 30px; }
      .wayboo .wayboo_top .wayboo_bottom .money {
        font-size: 44px;
        color: #08cefe;
        font-weight: bold; }
  .wayboo .wayboo_middle {
    width: 1200px;
    margin: auto;
    background: #213350;
    padding: 65px 0 0; }
    .wayboo .wayboo_middle .wayboo_map {
      padding: 0 74px; }
      .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft {
        float: left;
        padding-bottom: 70px; }
        .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft > h1 {
          font-weight: bold;
          font-size: 35px;
          color: #fff; }
        .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft > p {
          font-size: 14px;
          padding: 40px 0 30px;
          color: #7b99bb; }
        .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft .wayboo_maplist {
          color: rgba(255, 255, 255, 0.3);
          width: 290px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 25px; }
          .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft .wayboo_maplist > div {
            width: 240px;
            height: 6px;
            border-radius: 2000px;
            background: #46596d;
            position: relative;
            overflow: hidden; }
            .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft .wayboo_maplist > div > p {
              width: 80%;
              height: 100%;
              transition: all 1s;
              background: #05a6c6;
              background: -webkit-linear-gradient(left, #ce14ff, #05a6c6);
              background: -o-linear-gradient(right, #ce14ff, #05a6c6);
              background: -moz-linear-gradient(right, #ce14ff, #05a6c6);
              background: linear-gradient(to right, #ce14ff, #05a6c6); }
      .wayboo .wayboo_middle .wayboo_map .wayboo_mapRight {
        float: right;
        width: 700px;
        height: 460px; }
    .wayboo .wayboo_middle .wayboo_exposure {
      padding: 70px  74px 70px;
      background: #1e304d; }
      .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft {
        float: left;
        width: 555px; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft > h1 {
          font-weight: bold;
          font-size: 35px;
          color: #fff; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft > p {
          font-size: 14px;
          padding: 40px 0 30px;
          color: #7b99bb; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft .wayboo_exposureimg {
          height: 265px;
          background-image: url(../img/tu.png);
          background-repeat: no-repeat;
          background-position: 210px 0px; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft .wayboo_exposureimg h1 {
            font-weight: bold;
            font-size: 50px;
            color: #0d95ff; }
      .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight {
        float: right;
        width: 450px;
        padding-top: 30px; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul {
          width: 100%; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul li {
            float: left;
            width: 219px;
            height: 120px;
            background: #0c92fc;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-right: 1px;
            margin-bottom: 1px; }
            .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul li p {
              font-size: 30px;
              font-weight: bold;
              color: #fff; }
    .wayboo .wayboo_middle .wayboo_click {
      padding: 73px 74px 10px;
      background: #1b2c49; }
      .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft {
        float: left; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft > h1 {
          font-weight: bold;
          font-size: 35px;
          color: #fff;
          margin-bottom: 28px; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft > p {
          font-size: 14px;
          color: #7b99bb; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft i {
          display: block;
          width: 30px;
          height: 1px;
          background: rgba(255, 255, 255, 0.1);
          margin: 25px 0; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft > h3 {
          font-size: 53px;
          color: #6fdeff;
          font-weight: bold; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft > .h3 {
          color: #f5303f; }
      .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight {
        float: right;
        position: relative; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #areaAbt {
          width: 560px;
          height: 27px;
          border-bottom: 1px solid #364e6d;
          margin-left: 34px;
          position: absolute;
          top: -4px;
          display: flex;
          z-index: 10; }
          .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #areaAbt button {
            padding: 0;
            margin: 0;
            height: 25px;
            width: 70px;
            border: none;
            border-bottom: 1px solid #25344e;
            background: #25344e;
            color: #627d98;
            cursor: pointer;
            outline: none; }
          .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #areaAbt .areaAbtactive {
            border: 1px solid #364e6d;
            background: none;
            border-bottom: none;
            color: #fff; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #area {
          width: 660px;
          height: 350px; }
    .wayboo .wayboo_middle .wayboo_deal {
      padding: 50px 74px;
      background: #1d304b; }
      .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkLeft {
        padding: 100px 0;
        float: left; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkLeft > h1 {
          font-weight: bold;
          font-size: 35px;
          color: #fff;
          margin-bottom: 28px;
          padding-top: 50px; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkLeft > p {
          font-size: 14px;
          color: #7b99bb; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkLeft > h3 {
          font-size: 53px;
          color: #2d8ef9;
          font-weight: bold; }
      .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight {
        width: 700px;
        height: 350px;
        float: right; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > p {
          float: left;
          margin: 0 80px 0 80px; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > ul {
          float: left; }
          .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > ul li {
            margin-bottom: 30px;
            font-size: 12px;
            color: #7893b9; }
            .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > ul li i {
              display: inline-block;
              width: 18px;
              height: 12px;
              background: red;
              margin-right: 12px; }
    .wayboo .wayboo_middle .wayboo_table {
      padding: 50px 0;
      background: #162744; }
      .wayboo .wayboo_middle .wayboo_table > div {
        padding: 0 24px;
        width: 49%;
        float: left;
        border-right: 1px solid #20324f; }
        .wayboo .wayboo_middle .wayboo_table > div h1 {
          text-align: center;
          padding: 20px;
          background: #1e2f4c;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          font-weight: bold;
          letter-spacing: 3px; }
        .wayboo .wayboo_middle .wayboo_table > div .tableOne, .wayboo .wayboo_middle .wayboo_table > div .tableTow {
          height: 370px;
          margin-top: 15px;
          overflow: hidden; }
        .wayboo .wayboo_middle .wayboo_table > div table {
          width: 100%;
          text-align: center;
          table-layout: fixed;
          background: #162744;
          border: none; }
          .wayboo .wayboo_middle .wayboo_table > div table thead tr th {
            color: #3c7beb;
            font-size: 14px;
            padding: 30px 0 10px;
            border-bottom: 1px solid rgba(133, 130, 130, 0.1);
            position: relative;
            z-index: 10;
            background: #162744;
            background: #162744;
            border: none; }
        .wayboo .wayboo_middle .wayboo_table > div .tableOne table tbody tr th {
          width: 108px;
          text-overflow: inherit;
          overflow: hidden;
          padding: 10px 0;
          font-size: 14px;
          color: #7c99c0;
          background: #162744;
          border: none; }
        .wayboo .wayboo_middle .wayboo_table > div .tableTow table tbody tr th {
          text-overflow: inherit;
          overflow: hidden;
          padding: 10px 0;
          font-size: 14px;
          color: #7c99c0;
          white-space: nowrap;
          text-overflow: ellipsis;
          background: #162744;
          border: none; }
    .wayboo .wayboo_middle .wayboo_partner {
      padding: 70px 74px 80px;
      background: #1d2f4c; }
      .wayboo .wayboo_middle .wayboo_partner > h1 {
        font-weight: bold;
        font-size: 35px;
        color: #fff;
        margin-bottom: 28px; }
      .wayboo .wayboo_middle .wayboo_partner > ul {
        width: 100%;
        margin-top: 60px;
        border-right: 1px solid rgba(133, 130, 130, 0.1); }
        .wayboo .wayboo_middle .wayboo_partner > ul li {
          float: left;
          width: 175px;
          height: 90px;
          text-align: center;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(133, 130, 130, 0.1);
          justify-content: center;
          border-left: 1px solid rgba(133, 130, 130, 0.1); }
        .wayboo .wayboo_middle .wayboo_partner > ul .bottom {
          border-bottom: none; }

.wayboo_PcTxt {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 29px; }

.wayboo_PcTxt h1 {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  padding-right: 14px; }

.wayboo_PcTxt p {
  letter-spacing: 20px;
  font-size: 28px;
  padding: 10px 0; }

@media (max-width: 768px) {
  html {
    width: 100%;
    overflow-x: hidden; }

  body {
    width: 100%;
    overflow-x: hidden;
    background-position: -860px 0px; }

  .wayboo_PcTxt {
    display: none; }

  .wayboo {
    width: 100%;
    overflow-x: hidden; }
    .wayboo .logo {
      padding: 10px 0 25px;
      display: none; }
    .wayboo .wayboo_top .wayboo_mTxt {
      text-align: center;
      color: #fff;
      display: block;
      margin-top: 55px;
      padding-left: 7px; }
      .wayboo .wayboo_top .wayboo_mTxt h1 {
        font-size: 45px;
        font-weight: bold;
        padding-right: 5px; }
      .wayboo .wayboo_top .wayboo_mTxt p {
        font-size: 25px;
        letter-spacing: 10px;
        padding: 0px 0 39px;
        padding-left: 6px; }
    .wayboo .wayboo_top .wayboo_round {
      width: 300px;
      height: 300px; }
      .wayboo .wayboo_top .wayboo_round img {
        width: 100%; }
      .wayboo .wayboo_top .wayboo_round > div h1 {
        font-size: 40px; }
    .wayboo .wayboo_top .wayboo_bottom {
      width: 100%;
      padding-top: 44px; }
      .wayboo .wayboo_top .wayboo_bottom i {
        display: none; }
      .wayboo .wayboo_top .wayboo_bottom .txt {
        font-weight: normal;
        font-size: 26px;
        padding-left: 5px; }
      .wayboo .wayboo_top .wayboo_bottom .money {
        display: block;
        font-size: 50px;
        text-align: center; }
    .wayboo .wayboo_middle {
      width: 100%;
      padding: 0; }
      .wayboo .wayboo_middle .wayboo_map {
        width: 100%;
        padding: 0 10px;
        padding: 30px 0 50px 0;
        text-align: center; }
        .wayboo .wayboo_middle .wayboo_map h1 {
          padding-bottom: 20px; }
        .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft {
          width: 100%;
          margin-bottom: 0;
          padding-bottom: 0;
          text-align: center; }
          .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft h1 {
            width: 100%; }
          .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft .wayboo_maplist {
            display: none; }
          .wayboo .wayboo_middle .wayboo_map .wayboo_mapLeft p {
            display: none; }
        .wayboo .wayboo_middle .wayboo_map .wayboo_mapRight {
          width: 100%;
          height: 300px; }
      .wayboo .wayboo_middle .wayboo_exposure {
        width: 100%;
        padding: 50px  10px; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft {
          width: 100%;
          text-align: center; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft h1 {
            font-size: 40px; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft p {
            padding: 10px 0 20px; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureLeft .wayboo_exposureimg {
            background-image: none;
            height: auto; }
        .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight {
          width: 100%;
          padding: 20px 0; }
          .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul li {
            width: 49%;
            background: #283c5c; }
            .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul li div {
              width: 90px; }
              .wayboo .wayboo_middle .wayboo_exposure .wayboo_exposureRight ul li div img {
                width: 100%; }
      .wayboo .wayboo_middle .wayboo_click {
        width: 100%;
        padding: 50px 0px 50px 10px; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft {
          width: 100%;
          padding-bottom: 20px;
          text-align: center; }
          .wayboo .wayboo_middle .wayboo_click .wayboo_clickLeft i {
            margin: 20px auto; }
        .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight {
          width: 100%; }
          .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #areaAbt {
            width: 93%;
            padding: 0;
            margin: 0; }
          .wayboo .wayboo_middle .wayboo_click .wayboo_clickRight #area {
            width: 103%; }
      .wayboo .wayboo_middle .wayboo_deal {
        width: 100%;
        padding: 0 10px; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkLeft {
          width: 100%;
          text-align: center;
          padding: 0; }
        .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight {
          width: 100%;
          text-align: center;
          height: auto; }
          .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > p {
            float: none;
            width: 100%;
            margin: 0;
            margin-top: 20px; }
            .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > p img {
              width: 80%; }
          .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > ul {
            float: none;
            display: flex;
            flex-flow: wrap;
            margin-top: 30px;
            margin-bottom: 20px; }
            .wayboo .wayboo_middle .wayboo_deal .wayboo_dealkRight > ul li {
              width: 50%;
              text-align: left;
              margin-bottom: 20px;
              padding-left: 37px; }
      .wayboo .wayboo_middle .wayboo_table {
        width: 100%;
        padding: 50px 0; }
        .wayboo .wayboo_middle .wayboo_table table {
          table-layout: fixed;
          width: 100%; }
        .wayboo .wayboo_middle .wayboo_table > div .tableOne table tbody tr th {
          overflow: hidden;
          width: auto;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .wayboo .wayboo_middle .wayboo_table > div .tableTow table tbody tr th {
          overflow: hidden;
          width: auto;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .wayboo .wayboo_middle .wayboo_table .wayboo_tableLeft {
          width: 100%;
          padding: 0 0px; }
        .wayboo .wayboo_middle .wayboo_table .wayboo_tableRight {
          width: 100%;
          padding: 0 5px;
          margin-top: 50px; }
      .wayboo .wayboo_middle .wayboo_partner {
        width: 100%;
        padding: 30px 10px;
        text-align: center; }
        .wayboo .wayboo_middle .wayboo_partner > h1 {
          padding: 0;
          margin: 0; }
        .wayboo .wayboo_middle .wayboo_partner > ul {
          display: flex;
          flex-flow: wrap;
          border: none;
          margin-top: 20px; }
          .wayboo .wayboo_middle .wayboo_partner > ul li {
            width: 25%;
            height: 50px; }
            .wayboo .wayboo_middle .wayboo_partner > ul li img {
              width: 70%; }
          .wayboo .wayboo_middle .wayboo_partner > ul .Mbottom {
            border-bottom: 1px solid rgba(133, 130, 130, 0.1); }
          .wayboo .wayboo_middle .wayboo_partner > ul .Lborder {
            border-left: none; } }

/*# sourceMappingURL=index.css.map */
